section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 110vh;
  overflow: hidden;
  width: 100%;
}

.first {
  background-color: var(--color-section-one);
  min-height: 100vh;
}

.second {
  background-color: var(--color-section-two);
}

.third {
  background-color: var(--color-section-three);
}

.quarter {
  background-color: var(--color-section-four);
}

.fifth {
  background-color: var(--color-section-five);
  min-height: 90vh;
}
.sixth {
  background-color: var(--primary-color);
  min-height: 5vh;
}
