#portfolio {
    padding-top: 90px;
    padding-bottom: 60px;
 }
 #portfolio h1 {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: var(--secondary-color);
 }
 
 #portfolio-wrapper .columns { margin-bottom: 36px; }
 .portfolio-item .item-wrap {
    background:var(--primary-color);
    overflow: hidden;
    position: relative;
    border-radius:20px;
 
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }

 .portfolio-item .item-wrap img {
    vertical-align: bottom;
 }
